body{
    background-image:url("images/aboutimg.jpeg");
    background-size:100% 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.about-head{
    background-color:white;
    color:black;
    height:200px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.team-head{
    background-color:white;
    color:black;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
    
}
.team-img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}
.team-card{
    border-style: ridge;
    width: 300px;
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    transform: translateY(100%);
}
.scrolled{
    transform: translateY(0);
    transition: 1s;
}
.team-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0s;
}
#nav-bar{
    background-color: rgba(14, 13, 13, 0.801);
}
#nav-placeholder{
    margin-bottom: 200px;
}