body{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
}
.header{
    text-align: center;
    width: 55%;
    margin-left: 20px;
}
h1{
    text-align: center;
    margin-right: 10%;
    margin-top: 10%;
}
button{
    border-style: none;
    border-radius: 10em;
    height: 50px;
    width: 40%;
    background-color: white;
    margin-top: 3%;
}
#about{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.images{
    background-color: white;
    display: inline-block;
    width: 340px;
    margin-left: 7%;
    padding: 20px;
    text-align: center;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 5%;
    float: left;
}
.div-contact{
    display: inline-block;
    margin-left: 5.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 2%;
    width: 600px;
    border-radius: 25px;
}
.fa{
    font-size: 25px;
    margin-left: 10%;
}
.show-img{
    height: 300px;
    width: 300px;
}
.bio{
    width:220px;
}
@media screen and (max-width: 1366px){
    body{
        margin: 0 auto;
        width: 100%;
    }
    #about{
        width: 100%;
    }
    .images{
        width: 280px;
        margin-left: 5%;
    }
    .show-img{
        width: 200px;
    }
    .div-contact{
        width: 420px;
        padding: 1%;
    }
    .contact{
        width: 150px;
        height: 150px;
        float: left;
    }
    .header{
        width: 40%;
    }
}

@media screen and (max-width: 812px){
    body{
        margin: 0 auto;
    }
    .header{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 10px;
        background-image: linear-gradient(to right, white, blue);
    }
    #head-img{
        width: 100%;
        height: 300px;
    }
    #about{
        width: 100%;
        text-align: justify;
    }
    .images{
        width: 100px;
        padding: 1%;
    }
    .show-img{
        width: 70px;
        height: 70px;
    }
    .div-contact{
        width: 150px;
        padding: 1%;
        margin-left: 6%;
    }
    .contact{
        width: 100px;
        height: 100px;
        margin-left: 15%;
    }
    .bio{
        width: 150px;
    }
    .fa{
        font-size: 20px;
        margin-left: 8%;
    }
    label h3{
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
    label p{
        font-size: 10px;
        font-weight: bold;
    }
}